body {
    background-color: #f0f8ff;
    margin: 0;
}

h2 {
    color: #333;
}

h1 {
    color: #fff;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-small {
    width: 200px;
    margin: 0 auto;
}